body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .app {
        background-color: green;
        width: 1000px;
        height: 700px;
        border-radius: 20px;
        .leftContainer {
            display: inline-block;
            width: 300px;
            height: 100%;
        }
        .rightContainer {
            display: inline-block;
            width: 700px;
            height: 100%;
        }
    }
}
