body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .app {
        background-color: green;
        width: 1000px;
        height: 700px;
        border-radius: 20px;
    }
}
