.inputItem {
    span {
        display: block;
        margin: 10px 0 10px 0;
        font-size: 16px;
        color: gray;
    }
    input {
        border: 0;
        width: 350px;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
    }
}
